<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- Define properties file -->
	<context:property-placeholder location="classpath:sports.properties"/>

    <!-- My beans list goes here -->
    <!-- Cricket Coach Bean -->
    <bean id="cricketCoach" class="com.example.start01.CricketCoach"></bean>
    
    <!-- Basket Ball Coach Bean -->
    <bean id="basketBallCoach" class="com.example.start01.BasketBallCoach"></bean>
    
    <!-- Example of constructor dependency injection -->
    <bean id="footBallCoach" class="com.example.start01.di.FootBallCoach">
    	<constructor-arg ref="fortuneService"></constructor-arg>
    </bean>
    
    <!-- Even if we reference the bean before defining, it works -->
    <bean id="fortuneService" class="com.example.start01.di.HappyFortuneService"></bean>
    
    <bean id="hockeyCoach" class="com.example.start01.di.HockeyCoach">
    	<property name="fortuneService" ref="fortuneService"></property>
    </bean>
    
    <!-- Pass literal values to setter methods -->
    <bean id="chessCoach" class="com.example.start01.di.ChessCoach">
    	<property name="coachName" value="Simon"></property>
    	<property name="coachEmail" value="simon@gmail.com"></property>
    </bean>
    
    <!-- Pass literal values to setter methods via properties file -->
    <bean id="vollyballCoach" class="com.example.start01.di.VollyballCoach">
    	<property name="coachName" value="${sport.team}"></property>
    	<property name="coachEmail" value="${sport.email}"></property>
    </bean>
    
</beans>





