<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- All about bean scopes -->
	
	<!-- if not specified then its singleton itself -->
	<!-- singleton scope - single instance for every request  -->
	<bean id="cricketCoach" class="com.example.springbeanscope.coachs.CricketCoach"
		scope="singleton" 
	/>
	    
	<!--  prototype scope - new instance for each request -->
	<bean id="footballCoach" class="com.example.springbeanscope.coachs.FootballCoach"
		scope="prototype"  
	/>
</beans>





